a.out
*.info
*.cmi
*.cmo
*.dinstr
*~
*.trace
obj_dir/
ocaml-4.14.2/
*.o
*.vcd
*.vtrace
*.rtrace
*.zip
*.i
md/
txt/
old/
stubs.ml
*.py
.DS_Store
array
fact
hellofor
print
test_ops
test_ops_no_refs
test_refs_simple
